@import '/styles/helpers/helpers-all.scss';

$mob_gap: 2.3rem;
$desktop_gap: 1.6rem;

.instruments {
	color: $gray;
}

.instruments__title {
	@include h5;

	color: $purple_0;
	text-transform: uppercase;

	@include bp($point_2, min) {
		text-align: center;
	}

	@include bp($point_3) {
		line-height: 1.22;
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 3rem;
		}

		@include bp($point_3) {
			margin-bottom: 3.4rem;
		}
	}

	&.instruments__title--accent {
		font-weight: 600;
		color: $purple_2;
	}
}

.instruments__info {
	display: flex;

	@include bp($point_2, min) {
		flex-direction: column;
	}

	@include bp($point_3) {
		flex-direction: column-reverse;
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 8rem;
		}

		@include bp($point_3) {
			margin-bottom: 3.6rem;
		}
	}
}

.instruments__subtitle {
	@include body_1;

	@include bp($point_2, min) {
		text-align: center;
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 4rem;
		}
	}
}

.instruments__list {
	display: flex;

	@include bp($point_2, min) {
		justify-content: space-evenly;
		gap: 2rem;
	}

	@include bp($point_3) {
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 4rem;
	}
}

.instruments__list_wrap {
	@include bp($point_2, min) {
		display: flex;
		justify-content: center;
		min-width: 31.4rem;
	}
}

.instruments__list_item {
	@include headline_3;

	position: relative;
	padding-left: 2rem;

	&::before {
		position: absolute;
		top: 50%;
		left: 0;
		content: '';

		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $gray;
	}
}

.instruments__features {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	@include bp($point_4, min) {
		gap: $desktop_gap;
	}

	@include bp($point_4 - 1) {
		gap: $mob_gap;
	}
}

.instruments__feature {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: $light_gray;
	border-radius: 1.2rem;

	@include bp($point_1, min) {
		width: calc((100% - ($desktop_gap * 4)) / 5);
	}

	@include bp($point_1, $point_4) {
		width: calc((100% - ($desktop_gap * 2)) / 3);
	}

	@include bp($point_4, min) {
		padding: 2.4rem 4rem 3rem;
	}

	@include bp($point_4 - 1) {
		padding: 2.4rem 4rem 4.6rem;
	}
}

.instruments__feature_decor {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10.4rem;
	height: 10.4rem;
	padding: 3px;

	background: linear-gradient(90deg, rgba(120, 77, 255, 1) 0%, rgba(80, 151, 255, 1) 100%);

	border-radius: 50%;

	&:not(:last-child) {
		margin-bottom: 1.8rem;
	}
}

.instruments__feature_icon_w {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	background-color: $purple_0;

	border-radius: 50%;

	&:not(:last-child) {
		margin-bottom: 1.8rem;
	}
}

.instruments__feature_icon {
	width: 6.5rem;
	height: 6.5rem;
}

.instruments__feature_img {
	@include contain_img;
}

.instruments__feature_title {
	min-height: 4.8rem;

	font-size: 1.8rem;
	font-weight: 500;
	text-align: center;
	line-height: normal;
	color: $purple_0;

	&:not(:last-child) {
		margin-bottom: 0.8rem;
	}
}

.instruments__feature_text {
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
	line-height: 1.5;
}


.instruments__disclaimer {
	padding-top: 3rem;
	
	@include bp($point_4, min) {
		font-size: 1.4rem;
		text-align: center;
	}

	@include bp($point_4 - 1) {
		font-size: 1.2rem;
	}
}