@import '/styles/helpers/helpers-all.scss';

.platforms {
	background-color: $light_gray;
}

.platforms__row {
	@include bp($point_2, min) {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -2rem -2rem 0;
	}
}

.platforms__column {
	@include bp($point_2, min) {
		padding: 0 2rem 2rem 0;
		width: 50%;
	}

	&:not(:last-child) {
		@include bp($point_3) {
			margin-bottom: 7rem;
		}
	}
}

.platforms__picture {
	position: relative;
	display: block;

	max-width: 67.5rem;
	margin-right: auto;

	@include bp($point_2, min) {
		margin-top: 1.4rem;
		height: 54rem;
	}

	@include bp($point_3) {
		margin-left: auto;
		padding-bottom: 84.2%;
	}
}

.platforms__img {
	@include contain_img;
	
}

.platforms__content {
	@include headline_2;

	line-height: normal;
	color: $gray;

	@include bp($point_3) {
		font-size: 2.1rem;
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 4.4rem;
		}

		@include bp($point_3) {
			margin-bottom: 5rem;
		}
	}

	h2 {
		@include h3;

		color: $purple_0;
		text-transform: uppercase;

		@include bp($point_2, min) {
			line-height: 1.33;
		}

		@include bp($point_3) {
			font-size: 3.6rem;
			line-height: 1.39;
		}

		&:not(:last-child) {
			@include bp($point_2, min) {
				margin-bottom: 3rem;
			}

			@include bp($point_3) {
				margin-bottom: 1rem;
			}
		}

		a {
			color: inherit;
			transition: color 0.3s ease 0s;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: none;
				color: darken($light_blue, 20%);
			}
		}

		sup {
			display: inline-block;
			transform: translateY(-25%);

			font-size: 60%;
		}

		strong {
			color: $purple_2;
			font-weight: 700;
		}
	}

	p {
		line-height: 1.18;

		&:not(:last-child) {
			margin-bottom: 2.8rem;
		}
	}

	ul li {
		position: relative;
		display: block;
		list-style: none;
		line-height: 1.81;

		padding-left: 3.4rem;

		&::before {
			content: '';
			position: absolute;
			left: 1.4rem;
			top: 1.8rem;

			width: .6rem;
			height: .6rem;

			border-radius: 50%;
			background-color: currentColor;
		}
	}
}

.platforms__label {
	@include headline_3;

	color: $purple_0;

	&:not(:last-child) {
		margin-bottom: 1.4rem;
	}
}

.platforms__list {
	display: flex;
	flex-wrap: wrap;

	@include bp($point_2, min) {
		gap: 4.4rem;
	}

	@include bp($point_3) {
		gap: 2.6rem;
	}
}

.platforms__wrap {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 8.8rem;
	height: 8.8rem;
	margin-left: auto;
	margin-right: auto;

	border-radius: 50%;

	&::before,
	&::after {
		content: '';
		position: absolute;

		border-radius: 50%;
	}


	&::before {
		z-index: 1;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background: radial-gradient(circle at 0 50%, $purple_2, #5097FF);
	}

	&::after {
		$size: 3px;

		z-index: 2;
		top: $size;
		left: $size;

		width: calc(100% - $size * 2);
		height: calc(100% - $size * 2);
		background: $purple_0;
	}

	&:not(:last-child) {
		margin-bottom: 1.6rem;
	}
}

.platforms__icon {
	position: relative;
	z-index: 3;

	display: block;
	width: 5.4rem;
	height: 5.4rem;

}

.platforms__icon_img {
	@include contain_img;
}

.platforms__text {
	@include headline_4;

	text-align: center;
	color: $purple_0;

	@include bp($point_3) {
		font-size: 1.6rem;
	}
}